{% extends "capstone/layout.html" %}

{% block body %}
<h3>{{ page_title }}</h3>
<div id="article-list">
    {% if user.is_authenticated %}
        {% for art in articles %}
            <p><a href="{% url 'view_article' art.id %}"><b>{{ art.title }}</b></a>
                &nbsp;&nbsp;
                [
                    {% for t in art.tag_list%}
                        <a href="{% url 'tag' t %}">{{ t }}</a>&nbsp;
                    {% endfor %}
                ]
            <span style="font-family: Garamond, serif;">by {{ art.article_by }}</span>
            </p>
            <div>
                <a href="{% url 'star' art.star_list|join:',' %}">
                {% for rd in art.star_list %}
                    {% if rd == 'y' %}
                        <span class="fa fa-star-half-o fa-custom"></span>
                    {% elif rd == 'x' %}
                        <span class="fa fa-star"></span>
                    {% else %}
                        <span class="fa fa-star fa-custom"></span>
                    {% endif %}
                {% endfor %}
                </a>
                <span>({{art.read_count}})</span>
            </div>
            <p>{{ art.synopsis }}</p>
            <br>
            
        {% endfor %}
    {% endif %}
</div>
{% endblock %}